.Wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.INMIN {
    background-image: url('./assets/INMIN.webp');
}

.EKOKEK {
    background-image: url('./assets/EKOKEK.webp');
}

.EUPP {
    background-image: url('./assets/EUPP.webp');
}

.IBO {
    background-image: url('./assets/IBO.webp')
}

.ITKN {
    background-image: url('./assets/ITKN.webp');
}

.GORNIY {
    background-image: url('./assets/GORNY.webp');
}