@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.Header {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    @media (max-width: vars.$tabletMin) {
        justify-content: space-between;
    }
    .Logo {
        margin-right: 40px;
        width: 59%;
        cursor: pointer;
        @media (max-width: vars.$tabletMax) {
            height: 48px;
            width: 118.53px;
        }
    }

    a {
        @include mixins.fontRaleway($fontSize: 0.875rem, $fontColor: rgba(44, 62, 80, 0.56));
        text-decoration: none;
        @media (max-width: vars.$middleMobile) {
            display: none;
        }
    }

    a:first-of-type {
        margin-right: 16px
    }

}