@use '../../styles/mixins';

.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 7%;
    @include mixins.fontRaleway();

    @media (max-width: 912px) {
        width: 100%;
    }

    .EnterCode {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1.5%;

        label {
            @include mixins.fontRaleway()
        }

        a {
            margin-top: 1%;
            @include mixins.fontRaleway($fontWeight: 600)
        }

        input {
            margin-top: 1%;
            width: 100%;
            border: 1px solid rgba(44, 62, 80, 0.12);
            padding: 1.5% 3%;
            border-radius: 0.4rem;
        }
    }

    h1 {
        @include mixins.fontNekst($fontSize: 2.5rem);
        min-width: 0;
    }

    .EmailInput {
        margin-bottom: 2%
    }

    .FormControls {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .NoEntry {
            @include mixins.fontRaleway($fontColor: rgba(233, 83, 50, 1));
            margin-top: 2%;
        }

        .InputStud::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(44, 62, 80, 0.5)
        }

        button {
            display: block;
            margin-top: 4%;
            border: none;
            padding: 4% 0;
            width: 100%;
            border-radius: 0.4rem;
            font-weight: 600;
        }

        .InactiveStudent {
            cursor: auto;
            background-color: #2C3E501F;
            color: #2C3E50;
        }

    }

    .EmployeeBtn {
        background-color: white;
        color: #1D92F8;
        font-weight: 600;
        border: 1px solid rgba(29, 146, 248, 1);
        display: block;
        margin-top: 4%;
        padding: 4% 0;
        width: 100%;
        border-radius: 0.4rem;
        font-weight: 600;
    }

    .ActiveStudent {
        cursor: pointer;
        background-color: #1D92F8;
        color: #FFFFFF;
    }
}