@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include mixins.fontNekst();
        @media (max-width: vars.$middleMobile) {
            font-size: 1.5rem;
        }
    }

    .GridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 1fr;
        width: 64%;
        align-items: center;
        @media (max-width: vars.$middleMobile) {
            display: flex;
flex-direction: column;
width: 100%;
align-items: flex-start;
gap: 16px;
        }

        .GridEl {
            display: flex;
            align-items: center;
            gap: 1.5%;
            @include mixins.fontNekst($fontSize: 1.5rem, $color: '#000000')
        }

        .LastEl {
            grid-column: 1/3;
            grid-row: 4;
            justify-self: flex-start;
            align-self: flex-start;

            a {
                font-weight: 700;
                color: #000000
            }
            @media (max-width: vars.$middleMobile) {
                margin-top: 8px;
            }
        }

        .Notes {
            @include mixins.fontRaleway()
        }
    }
}