@use '../../styles/mixins' as mixins;

.Wrapper {
    @include mixins.fontRaleway();
    display: flex;
    justify-self: flex-end;
    align-self: center;
    column-gap: 3%;
    margin-right: 2%;

    img {
        width: 19%;
    }

    .EmailExit {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            margin: 0;
        }

        a {
            color: rgba(44, 62, 80, 1);
            font-weight: 600;
            font-size: 0.75rem;
            text-decoration: none;
            letter-spacing: 0.613px;
            cursor: pointer;
            width: min-content;
        }
    }
}